@import "../assets/base.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 p-0 bg-primary dark:bg-secondary transition-colors duration-500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Poppins", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Poppins", monospace;
  }

  h1 {
    @apply text-4xl font-extrabold text-primary dark:text-secondary;
  }

  h2 {
    @apply text-2xl font-semibold text-primary-2;
  }

  p {
    @apply text-secondary;
  }
}
