.container {
  @apply flex flex-col justify-between items-start space-y-8 my-8 md:min-h-[60vh] md:mb-0 md:flex-row;

  > h1 {
    @apply lg:self-center dark:text-white;
    font-size: 8rem;

    @media screen and (max-width: 800px) {
      font-size: 3.5rem;
      line-height: 120%;
    }

    > span {
      background-image: linear-gradient(60deg, var(--blue), var(--darkpink)); // var(--light-green)
      background-clip: text;
      color: transparent;
    }
  }

  > img {
    @apply w-[50vw] self-center md:self-start;
  }
}
